export("%+%")
export(JBTest)
export(addCol)
export(demean)
export(evalFunctionOnList)
export(generateSignificance)
export(label_both_parsed_recode)
export(oapply)
export(packages)
export(recode)
export(repCol)
export(repRow)
export(shift)
export(sourceAll)
export(splitBy)
export(tic)
export(toc)
